<h1>Editing Book</h1>

<!--【？】詳細しない記述をしたいが、送るのが「books」のみか「:id」もかがわからない→答え！-->
<%= form_with model: @book,url:update_book_path(@book.id), method: :patch do |f| %>
  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>

  <div>
      <%= f.label :body, "Body" %>
      <%= f.text_area :body %>
  </div>

  <div>
  <%= f.submit 'Updata Book'%>
  </div>

<!--ShowとBackのリンクを作成-->
  <%= link_to 'Show', book_path(@book.id) %>
  |
  <%= link_to "Back", '/books' %>

<% end %>