<h1>Books</h1>

<% @books.each do |book| %>


<!--テーブルにする-->
<table>

    <tr>
        <th>Title</th>
        <th>Body</th>
    </tr>

    <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><%= link_to 'Show', book_path(book.id) %></td>
        <td><%= link_to 'Edit',  %></td>
        <td><%= link_to 'Destroy', book_path(book.id) %></td>
    </tr>

</table>

<!--テーブルここまで-->


<p>Title</p>
<span><%= book.title %></span>

<p>Body</p>
<span><%= book.body %></span>

<%= link_to 'Show', book_path(book.id) %>

<% end %>

<!--newの中身を張り付けてみよう-->

<h2>New book</h2>
<!--フォームの作成のために「form_withヘルパー」を使用する-->
<!--この中にモデルとの連携について、どのURLへデータを送るのか、どのHTTPメソッドで送るのか定義する-->
<!--Book.newにより、Bookモデルの情報をもとに新しいオブジェクトが作成される、Bookにあるカラム情報に新しい情報を格納することができる-->
<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <div>
    <label>
      Title
      <%= f.text_field :title %>
    </label>
  </div>

  <div>
    <label>
      Body
      <%= f.text_area :body %>
    </label>
  </div>

  <%= f.submit 'Create Book'%>

<% end %>